{% extends 'base2.html' %}

{% block content %}
<main style="height: 100%; padding: 0 300px 0 300px;" class="grey lighten-2">
    <h1 style="border-bottom: 1px solid rgba(0,0,0,0.1); padding-bottom: 10px;">Delete Listed Item</h1>
    <h4>Are you sure you want to delete </h4>
    <h4><span class="teal-text">{{ object.title }}</span>?</h4> 
    <h5 style="margin-top: 50px;">Date Posted : &nbsp {{ object.date_created }} </h5>
    <h5 style="margin-top: 30px;">Price : &nbsp {{ object.sell_price }} </h5>
    <h5 style="margin-top: 30px;">Description : &nbsp {{ object.item_description }} </h5>
    <h5 style="margin-top: 30px; margin-bottom: 20px;">Photos : </h5>
    <div style="display:flex; flex-wrap: wrap;">
    {% for photo in object.itemphoto_set.all %}
        <img src="{{ photo.url }} " class="item-photos">
    {% endfor %}
    </div>
    <form action="" method="POST" style="margin-top: 50px;">
    {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="btn">
    <form action="" method="POST" style="margin-top: 50px;">
        <a href="{% url 'selling_listing' %}" style="margin-left: 20px;" class="btn waves-effect waves-light">Cancel</a>
    </form>
</main>
{% endblock %}