{% extends 'base.html' %}

{% block content %}

<div class="seller-detail-confirm-content-block">
  <h2>Your post was successful!</h2>  
  <h4 style="font-weight: bold;">{{ item.title }} has been posted</h4> 
      <div class="seller-confirmed-product-detail">
          <p>Brand: {{ item.brand }}</p>
          <p>Price: {{ item.sell_price }}</p>
          <p>Posted: {{ item.date_created }}</p>
          {% for photo in item.itemphoto_set.all %}
          <div>
            <p>Photos:</p><img src="{{ photo.url }} " class="item-photos">
          </div>
          {% endfor %}         
      </div>
</div>
<div class="seller-detail-confirm-content-block">
  <a href="{% url 'products_detail' item.tcin %}" class="btn waves-effect waves-light grey lighten-3 black-text">See your Posting Here!</a>
</div>

{% endblock %}
  
