{% extends 'users_base.html' %}

{% block content %}

    <div class="orders-container">
        <div class="top-nav">
            <a href="{% url 'buying_pending' %}" class="black-text">Pending</a>
            <a href="{% url 'buying_history' %}">History</a>
            <a href="{% url 'buying_reviews' %}">Reviews</a>
        </div>
        <nav class="grey lighten-5">
            <div class="nav-wrapper">
                <form action="#!">
                <div class="input-field">
                    <input id="search" placeholder="Search name" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                    <i class="material-icons black-text">close</i>
                </div>
                </form>
            </div>
        </nav>
        <div class="items-container">
            {% if items %}
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>Date Posted</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Photos</th>
                        <th>Seller</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.date_created }}</td>
                        <th style="width:250px; font-weight: normal;" class="teal-text"><a href="{% url 'products_detail' item.tcin %}">{{ item.title }}</a></th>
                        <td>${{ item.sell_price }}</td>
                        <td sylte="width: 380px">{{ item.item_description }}</td>
                        <td class="item-photos-container">
                        {% for photo in item.itemphoto_set.all %}
                            <div>
                                <img src="{{ photo.url }} " class="item-photos">
                            </div>
                        {% endfor %}
                        </td>
                        <td>{{ item.sell_order.user.username }}</td>
                        <td style="width: 300px;">
                            <a href="{% url 'items_received' item.id %}">
                                <button class="btn-large waves-effect waves-light grey darken-3" type="submit" name="action" style="width:250px; font-size: x-small;">Mark item as received
                                    <i class="material-icons right grey darken-3">local_offer</i>
                                </button>
                            </a>           
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div style="font-size: 18px; margin: 30px 0 0 20px"> No Pending Yet</div>
            {% endif %}
        </div>
    </div>
</main>        
{% endblock %}



