{% extends 'users_base.html' %}

{% block content %}

    <div class="orders-container">
        <div class="top-nav">
            <a href="{% url 'buying_pending' %}">Pending</a>
            <a href="{% url 'buying_history' %}">History</a>
            <a href="{% url 'buying_reviews' %}">Reviews</a>
            <a href="{% url 'buying_wishlist' %}" class="black-text">Wish List</a>
        </div>
        <nav class="grey lighten-5">
            <div class="nav-wrapper">
                <form action="#!">
                <div class="input-field">
                    <input id="search" placeholder="Search name" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                    <i class="material-icons black-text">close</i>
                </div>
                </form>
            </div>
        </nav>
        <div class="wishlist-container">
            {% if products %}
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Main Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td style="width:250px; font-weight: normal;" class="teal-text"><a href="{% url 'products_detail' product.tcin %}">{{ product.title }}</a></td>
                        <td>{{ product.brand }}</td>
                        <td sylte="width: 380px">${{ product.price }}</td>
                        <td><img src="{{product.main_image}}" style="height: 250px;"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div style="font-size: 18px; margin: 30px 0 0 20px"> No Items In Wish List Yet</div>
            {% endif %}
        </div>
    </div>
</main>        
{% endblock %}



