{% extends 'base2.html' %}

{% block content %}
<main class="buying-container">
    <div class="side-nav">
        <div class="user-name" style="margin-top:100px">Seller:
            {{ seller.username }}
        </div>
        <div class="user-name">Average Rating:
            {{ seller_rating }}
        </div>
    </div>
    <div class="orders-container">
        <div class="top-nav">
            <a href="{% url 'seller_reviews' seller.id %}">All Reviews</a>
            <a href="{% url 'seller_listing' seller.id %}" class="black-text">All Current Listing</a>
        </div>
        <nav class="grey lighten-5">
            <div class="nav-wrapper">
                <form action="#!">
                {% csrf_token %}
                <div class="input-field">
                    <input id="search" placeholder="Search name" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                    <i class="material-icons black-text">close</i>
                </div>
                </form>
            </div>
        </nav>
        <div class="items-container">
            {% if items %}
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>Date Posted</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Photos</th>
                        <th>Buy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.date_created }}</td>
                        <th style="width:250px; font-weight: normal;" class="teal-text">
                            <a href="{% url 'products_detail' item.tcin %}">{{ item.title }}</a>
                        </th>
                        <td>${{ item.sell_price }}</td>
                        <td sylte="width: 380px">{{ item.item_description }}</td>
                        <td class="item-photos-container">
                        {% for photo in item.itemphoto_set.all %}
                            <div>
                                <img src="{{ photo.url }} " class="item-photos">
                            </div>
                        {% endfor %}
                        </td>
                        <td class="item-edit-delete" style="width:300px">
                            <a href="{% url 'items_payment' item.id %}">
                                <button class="btn-large waves-effect waves-light green darken-4" type="submit" name="action" style="width:250px;">Buy for ${{ item.sell_price }}
                                    <i class="material-icons right green darken-4">shopping_basket</i>
                                </button>
                            </a>           
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div style="font-size: 18px; margin: 30px 0 0 20px"> No Items Listed Yet</div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}



