{% extends 'users_base.html' %}

{% block content %}

    <div class="orders-container">
        <div class="top-nav">
            <a href="{% url 'selling_listing' %}">Listing</a>
            <a href="{% url 'selling_pending' %}">Pending</a>
            <a href="{% url 'selling_history' %}">History</a>
            <a href="{% url 'selling_reviews' %}" class="black-text">Reviews</a>
        </div>
        <nav class="grey lighten-5">
            <div class="nav-wrapper">
                <form action="#!">
                <div class="input-field">
                    <input id="search" placeholder="Search name" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                    <i class="material-icons black-text">close</i>
                </div>
                </form>
            </div>
        </nav>
        <div class="items-container">
            {% if items %}
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>Date Completed</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Buyer</th>
                        <th>Rating</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td style="width:180px">{{ item.date_sold }}</td>
                        <th style="width:250px; font-weight: normal;" class="teal-text"><a href="{% url 'products_detail' item.tcin %}">{{ item.title }}</a></th>
                        <td>${{ item.sell_price }}</td>
                        <td sylte="width: 380px">{{ item.item_description }}</td>
                        <td>{{ item.buy_order.user.username }}</td>
                        <td>{{ item.seller_review.rating }}</td>
                        <td sylte="width: 380px">{{ item.seller_review.review }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div style="font-size: 18px; margin: 30px 0 0 20px"> No Reviews From Buyers Yet</div>
            {% endif %}
        </div>
    </div>
</main>        
{% endblock %}



