{% extends 'base.html' %}

{% block content %}
<div class="about-page-container">
  <h1 class="about-page-title">Meet the Team</h1>
  <p style="font-size: medium;">We are a team of students from General Assembly.</p>
  <div class="team-info">
    <div class="col s12 m7">
      <h4 class="header">Aaron Li</h4>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://i.imgur.com/Gu1ItIP.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p style="font-size: large;">Aaron is currently a student at General Assembly, pursuing further education in the field of technology, in addition to holding a Master's degree in Computational Finance and Risk Management from the University of Washington and a Bachelor's degree in Mathmetics and Economics from the University of California San Diego.</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/aaronweixiangli">Github</a>
            <a href="https://www.linkedin.com/in/aaronweixiangli/">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
        <h4 class="header">William</h4>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://i.imgur.com/PNMr1RB.jpeg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p style="font-size: large;">William is presently enrolled in General Assembly's software engineering immersive course, having recently earned a bachelor's degree in technology development and management from St. Petersburg College.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/wKategianes">Github</a>
              <a href="https://www.linkedin.com/in/wkategianes/">LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m7">
        <h4 class="header">Jeremy</h4>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://i.imgur.com/4Dy9pXl.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p style="font-size: large;">Jeremy is a recent graduate from the University of Washington with a Master's degree in Entrepreneurship and is currently an aspiring software developer at General Assembly.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/jpscodes">Github</a>
              <a href="https://www.linkedin.com/in/jeremy-pilgrim-stoppel/">LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}