<div class="about-technology-wrapper">
{% extends 'base.html' %}

{% block content %}

  <h1 class="about-technology-title">Technologies Used</h1>
    <div class="about-technology-card-container">
      <!-- card 1 -->
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://pbs.twimg.com/profile_images/1525569421527420935/KL2bMDY1_400x400.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">RedCircle API<i class="material-icons right">more_vert</i></span>
          <p><a href="https://www.redcircleapi.com/about" target="_blank">Learn More</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
          <p>The missing API for Target

            Getting reliable and high-scale Target product data is difficult - that's why we created RedCircle.<br><br>
            
            RedCircle is a real-time, high-scale API to request Target 
            <a href="https://www.redcircleapi.com/target-product-data-api" target="_blank"><b>product data</b></a>, 
            <a href="https://www.redcircleapi.com/target-customer-reviews-api" target="_blank"><b>customer reviews</b></a>, 
            <a href="https://www.redcircleapi.com/target-search-results-api" target="_blank"><b>search results</b></a> and 
            <a href="https://www.redcircleapi.com/target-category-api" target="_blank"><b>category listings</b></a>.<br><br>
            
            RedCircle API makes it easy to query for Target results at 
            <a href="https://www.redcircleapi.com/collections" target="_blank"><b>scale</b></a>, consistently, and with any combination of request parameters.<br><br>
            
            RedCircle API 
            <a href="https://www.redcircleapi.com/pricing" target="_blank"><b>plans</b></a> range from 500 to 50 million requests per month - and represent huge savings vs. building and maintaining Target data collection in-house.<br><br>
            
            Sign up for the 
            <a href="https://app.redcircleapi.com/signup" target="_blank"><b>Free Tier</b></a> and see why hundreds of businesses trust RedCircle API!
            
            Check out the latest  <a href="https://www.redcircleapi.com/docs/product-updates" target="_blank"><b>Product Updates</b></a>.</p>
        </div>
      </div>

      <!-- card 2 -->
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Github<i class="material-icons right">more_vert</i></span>
          <p><a href="https://github.com/" target="_blank">Learn More</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
          <p>Github is an Internet hosting service for software development and version control using Git.<br><br>
          It provides the distributed version control of Git plus access control, bug tracking, software feature requests, task management, 
          continuous integration, and wikis for every project.
          </p>
        </div>
      </div>
      <!-- card 3 -->
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.imgur.com/jHshc2s.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Amazon Web Services<i class="material-icons right">more_vert</i></span>
          <p><a href="https://aws.amazon.com/" target="_blank">Learn More</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
          <p>Whether you're looking for compute power, database storage, content delivery, or other functionality,
            AWS has the services to help you build sophisticated applications with increased flexibility,
            scalability and reliability </p>
        </div>
      </div>
      <!-- card 4 -->
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn-icons-png.flaticon.com/512/9307/9307630.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Django<i class="material-icons right">more_vert</i></span>
          <p><a href="https://www.djangoproject.com/" target="_blank">Learn More</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
          <p>Django is a free and open-source, Python-based web framework that follows the model–template–views architectural pattern.<br><br>
            It is maintained by the Django Software Foundation, an independent organization established in the US as a 501 non-profit.</p>
        </div>
      </div>
      <!-- card 5 -->
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn-icons-png.flaticon.com/512/5968/5968267.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">HTML5<i class="material-icons right">more_vert</i></span>
          <p><a href="https://html.spec.whatwg.org/" target="_blank">Learn More</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
          <p>HTML5 is a markup language used for structuring and presenting content on the World Wide Web.<br><br>
            It is the fifth and final major HTML version that is a World Wide Web Consortium recommendation.<br><br>
            The current specification is known as the HTML Living Standard.</p>
        </div>
      </div>
        <!-- card 6 -->
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">CSS3<i class="material-icons right">more_vert</i></span>
            <p><a href="https://www.w3.org/TR/CSS/#css" target="_blank">Learn More</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
            <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML or XML.<br><br>
              CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
          </div>
        </div>
          <!-- card 7 -->
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Javascript<i class="material-icons right">more_vert</i></span>
          <p><a href="https://www.javascript.com/" target="_blank">Learn More</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
          <p>JavaScript, often abbreviated as JS, is a programming language that is one of the core technologies of the World Wide Web,
            alongside HTML and CSS. As of 2022, 98% of websites use JavaScript on the client side for webpage behavior,
              often incorporating third-party libraries.</p>
        </div>
      </div>
        <!-- card 8 -->
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://i.imgur.com/5NwYjtJ.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Materialize<i class="material-icons right">more_vert</i></span>
            <p><a href="https://materializecss.com/" target="_blank">Learn More</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
            <p>Created and designed by Google, Material Design is a design language that combines the classic principles of successful design along with innovation and technology.<br><br>
              Google's goal is to develop a system of design that allows for a unified user experience across all their products on any platform.</p>
          </div>
        </div>
          <!-- card 9 -->
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn-icons-png.flaticon.com/512/5968/5968342.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">PostgreSQL<i class="material-icons right">more_vert</i></span>
          <p><a href="https://www.postgresql.org/" target="_blank">Learn More</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
          <p>PostgreSQL, also known as Postgres, is a free and open-source relational database management system emphasizing extensibility and SQL compliance.<br><br>
            It was originally named POSTGRES, referring to its origins as a successor to the Ingres database developed at the University of California, Berkeley.</p>
        </div>
      </div>
        <!-- card 10 -->
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Python<i class="material-icons right">more_vert</i></span>
            <p><a href="https://www.python.org/" target="_blank">Learn More</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><b>About</b><i class="material-icons right">close</i></span>
            <p>Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.<br><br>
              Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional programming.</p>
          </div>
        </div>

  </div>
  {% endblock %}
</div>
