{% extends 'base.html' %}

{% block content %}


<div class="detail-content-block">
    <h4 style="font-weight: bold;">{{ product_api.title }}</h4>
    <div class="product-info">
        <div class="product-image">
            <img src={{ product_api.main_image.link }}>
        </div>
        <div class="product-detail">
            <p>Brand: {{ product_api.brand }}</p>
            <p>Price: $ {{ product_api.buybox_winner.price.value }}</p>
            <p>Features: </p>
            <ul class="product-feature">
                {% for feature in product_api.feature_bullets %}
                <li>• &nbsp; {{ feature }}</li>
                {% endfor %}
            </ul>
            <p>Target Link: <a href="{{ product_api.link }}">Link to Target</a></p>
            <p>Favorite: <a href="{% url 'products_favorite' product_api.tcin %}" class="btn-flat btn-small waves-effect waves-light yellow">Add</a>
            </p>
        </div>
    </div>
</div>
<div class="detail-content-block">
    <h5>More Images</h5>
    <div class="product-images">
        {% for image in product_api.images %}
        <img src="{{ image.link }}">
        {% endfor %}
    </div>
</div>
<div class="detail-content-block">
    <h5>Videos</h5>
    <div class="product-videos">
        {% for video in product_api.videos %}
        <video class="video" width="448" height="252" controls>
            <source src="{{ video.link }}" type="{{ video.type }}">
        </video>
        {% endfor %}
    </div>
</div>
<div class="detail-content-block">
    <h5>Product Details</h5>
    <div class="product-details">
        <div class="left-details">
            <p><span>Dimensions:</span> {{ product_api.dimensions }}</p>
            <p><span>Weight:</span> {{ product_api.weight }}</p>
            <p><span>Specifications:</span></p>
            <p>{{ product_api.specifications_flat }}</p>
        </div>
        <div class="right-details">
            <p><span>Description: </span></p>
            <p>{{ product_api.description }}</p>
        </div>
    </div>
</div>
<div class="detail-content-block">
    <h5>Selling</h5>
    <div class="selling-items">
        <a href="{% url 'items_new' product_api.tcin %}" class="btn waves-effect waves-light grey lighten-3 black-text">Sell Your Used Goods Here
            <i class="material-icons right">attach_money</i>
        </a>
        {% if items_listing %}
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Seller</th>
                    <th>Rating(ouf of 5)</th>
                    <th>Date</th>
                    <th>Item Price</th>
                    <th>Item Description</th>
                    <th>Photos</th>
                    <th>Buy</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_listing %}
                <tr>
                    <td>
                        <a href="{% url 'seller_reviews' item.seller_id %}">{{ item.seller.username }}</a>
                    </td>
                    <td>
                        {% if item.seller_rating %}
                        {{ item.seller_rating }} 
                        {% else %}                        
                        No Rating Yet
                        {% endif %}
                    </td>
                    <td>{{ item.date_created }}</td>
                    <td>${{ item.sell_price }}</td>
                    <td>{{ item.item_description }}</td>
                    <td class="item-photos-container">
                    {% for photo in item.itemphoto_set.all %}
                        <div>
                            <img src="{{ photo.url }} " class="item-photos">
                        </div>
                    {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'items_payment' item.id %}">
                            <button class="btn-large waves-effect waves-light green darken-4" type="submit" name="action">Buy for ${{ item.sell_price }}
                                <i class="material-icons right">shopping_basket</i>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div style="font-size: 18px;"> No Sellers Yet</div>
        {% endif %}
    </div>
</div>
<div class="detail-content-block" style="margin-top: 30px; margin-bottom: 150px;">
    <h5>Price History</h5>
    <div class="price-history-container">
    {% if items_completed %}
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Avg Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_history %}
                <tr>
                    <td>{{ item.0 }}</td>
                    <td>${{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div style="font-size: 18px;"> No History Yet</div>
    {% endif %}
    </div>
</div>


{% endblock %}
  