{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}

<section class="filter-section">
    <h4>Search Results</h4>
    <form id="filter-form" action="{% url 'products_index' %}" method="GET">
        <select name="sort_by" class="filter-select" onchange="document.getElementById('filter-form').submit();">
            <option value="best_match" {% if sort_by == "best_match" %} selected {% endif %}>Best Match</option>
            <option value="price_high_to_low" {% if sort_by == "price_high_to_low" %} selected {% endif %}>Price High to Low</option>
            <option value="price_low_to_high" {% if sort_by == "price_low_to_high" %} selected {% endif %}>Price Low to High</option>
            <option value="newly_listed" {% if sort_by == "newly_listed" %} selected {% endif %}>Newly Listed</option>
            <option value="featured" {% if sort_by == "featured" %} selected {% endif %}>Featured</option>
        </select>
        <input type="hidden" value="{{ search_term|urlencode }}" name="search_term">
        <input type="hidden" value="{{ type }}" name="type">
        <input type="hidden" value="1" name="page">
    </form>
</section>

{% for product in products %}
    <a href="#" class="products-container">
        <h2 class="products-title">{{ product.product.title }}</h2>
        <div class="products-info">
            <div class="products-image">
                <img src={{ product.product.main_image }}>
            </div>
            <div class="products-detail">
                <div class="products-brand">
                    <p><span>Brand : </span>{{ product.product.brand }}</p>
                </div>
                <span>Features : </span> 
                <ul class="products-feature">
                    {% for feature in product.product.feature_bullets %}
                    <li>• &nbsp {{ feature }}</li>
                    {% endfor %}
                </ul>
                <div class="products-price">
                    <p><span>Price : </span>${{ product.offers.primary.price }}</p>
                </div>
            </div>
        </div>
    </a>
{% endfor %}
<ul class="pagination">

    <li class="{% if has_prev_page %}waves-effect{% else %}disabled{% endif %}">
        <a href="{% url 'products_index' %}?search_term={{ search_term|urlencode }}&type={{ type }}&sort_by={{ sort_by }}&page={{ page|add:1 }}">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>

    {% for i in num_of_pages %}
    <li class="{% if i == page %}active{% else %}waves-effect{% endif %}">
        <a href="{% url 'products_index' %}?search_term={{ search_term|urlencode }}&type={{ type }}&sort_by={{ sort_by }}&page={{ i }}">
            {{ i }}
        </a>
    </li>
    {% endfor %}

    <li class="{% if has_next_page %}waves-effect{% else %}disabled{% endif %}">
        <a href="{% url 'products_index' %}?search_term={{ search_term|urlencode }}&type={{ type }}&sort_by={{ sort_by }}&page={{ page|add:1 }}">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>

</ul>

{% endblock %}