{% extends 'base.html' %}

{% block content %}

<div class="seller-detail-confirm-content-block">
  <!-- <h4 style="font-weight: bold;">{{ product_api.title }}</h4> change to user listing title -->
  <h4>Fake title</h4>
  <div class="seller-confirm-product-info">
      <div class="seller-confirmed-image">
          <!-- <img src={{ product_api.main_image.link }} > change to user uploaded image -->
          <img src="https://i.imgur.com/2TyWK7p.jpeg" width="200px">
      </div>
      <div class="seller-confirmed-product-detail">
          <p>Brand: {{ product_api.brand }}</p>
          <p>Price: {{ product_api.brand }}</p>
          <p>Quantity: {{ product_api.brand }}</p>
          <!-- <p>Price: $ {{ product_api.buybox_winner.price.value }}</p>make listing price -->
          <!-- <p>Quantity: </p> put in selected selling qantity -->
      </div>
  </div>
</div>
<div class="seller-detail-confirm-content-block">
  <a href="#" class="btn waves-effect waves-light grey lighten-3 black-text">See your Posting Here!</a>
</div>

{% endblock %}
  
<div class="detail-content-block">
  <h4 style="font-weight: bold;">{{ product_api.title }}</h4>
  <div class="product-info">
      <div class="product-image">
          <img src={{ product_api.main_image.link }}>
      </div>
      <div class="product-detail">
          <p>Brand: {{ product_api.brand }}</p>
          <p>Price: $ {{ product_api.buybox_winner.price.value }}</p>
          <p>Features: </p>
          <ul class="product-feature">
              {% for feature in product_api.feature_bullets %}
              <li>• &nbsp; {{ feature }}</li>
              {% endfor %}
          </ul>
          <p>Target Link: <a href="{{ product_api.link }}">Link to Target</a></p>
      </div>
  </div>
</div>